<br>

<footer>
  <script>

function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
  </script>
  <!-- <p>&copy;Copyrights owned by TechTitans, Conestoga College, 2023</p>  -->
</footer>

</div>
</div>

</html>