<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/profile.css">


    <title>ArtBid</title>
</head>



<div class="logotitle" style="
height: 100px;
margin-top: -44px;
">
<div><a href=""> <img src="/images/logo.png" alt="bid Logo"> </a></div>

<div><a class="nav-link" href="/cart">
    <i class="fa fa-shopping-cart"></i> Cart
</a>
</div>
    
</div>


<div class="menubar">
    <nav>
        <ul>
            <li><a href="/welcome">Home</a></li>
            <li>
                <a href="/art-list">My Arts</a>

            </li>
            <li>
                <a href="/past-auction">Past Auction</a>

            </li>
            <li>
                <a href="/profile">My Profile</a>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>
<div>
