<%- include('layouts/outerheader'); -%>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/images/logo.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="post" action="/login" id="submitFormValidate">
                        <div><br>
                            <div class="name-field" >
                                
                                <input id="userName" class="inputError form-control input_user" placeholder="Username" type="text" name="userName" required maxlength="45"
                                value="<%= typeof userName !== 'undefined' ? userName : '' %>">
                            </div>
                            <span role="alert" class="requiredError" aria-hidden="true">
                                Please enter Username
                            </span>
                            <div class="name-field">
                                
                                <input id="pass-field" class="inputError" placeholder="Password" type="password" name="password">
                            </div>
                            <span role="alert" class="requiredError" aria-hidden="true">
                                Please enter Password
                              </span>
                            <br>
                            <% if (errors && errors.length> 0) { %>
                                <div class="error-message">
                                  <% for (let i=0; i < errors.length; i++) { %>
                                    <p class="error-text">
                                      <%= errors[i].msg %>
                                    </p>
                                    <% } %>
                                </div>
                            <% } %>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input id="submitId" value="Login" type="submit" class="btn login_btn" onclick="validateForm(event)">
                            </div><br>
                            <div class="forgotpasswordlink">
                                <a href="/forgotpassword" data-toggle="modal" data-dismiss="modal"
                                  class="close-modal pointer-class" data-modalid="forgotModal"> Forgot your password?</a>
                                
                              </div>
                            <div class="register-field">
                                <a href="register">
                                    <p>
                                        New user? Register here
                                    </p>
                                </a>
                            </div>
                        </div>
                    </form>
				</div>

			</div>
		</div>
	</div>
</body>
<script>
    // const submit1 = document.getElementById("submitId");
    // submit1.addEventListener("click", validate);
    function validateForm(e) {
        const form = document.getElementById('submitFormValidate')
        e.preventDefault();
        const userNameField = document.getElementsByClassName("inputError");
        let vaClass = true;
        for (var i = 0; i < userNameField.length; i++) {
            if (!userNameField[i].value) {
                vaClass = false;
                const showRequiredErr = document.getElementsByClassName("requiredError");
                console.log(showRequiredErr)
                showRequiredErr[i].classList.add("visible");
                userNameField[i].classList.add("invalid");
                showRequiredErr[i].setAttribute("aria-hidden", false);
                showRequiredErr[i].setAttribute("aria-invalid", true);
            }else{
                const showRequiredErr = document.getElementsByClassName("requiredError");
                showRequiredErr[i].classList.remove("visible");
                userNameField[i].classList.remove("invalid");
                showRequiredErr[i].setAttribute("aria-hidden", true);
                showRequiredErr[i].setAttribute("aria-invalid", false);
            }
        }
        if(vaClass){
            form.submit();
        }else{
            return false;
        }
    }
</script>
  <%- include('layouts/footer'); -%>