<%- include('layouts/outerheader'); -%>
  <body>
    <div class="main-div"> 
        <div class="logo">

        </div>
       
        <form method="post" action="/login" id="submitFormValidate"  class="login-form">
            <div class="login-box">
                
                    <h3 class="title-heading">Login</h3>
                <div class="name-field">
                    <label for="user-field">
                        <p>
                            User Name : 
                        </p>
                    </label>
                    <input id="userName" class="inputError" placeholder="Username" type="text" name="userName" required maxlength="45"
                    value="<%= typeof userName !== 'undefined' ? userName : '' %>">
                </div>
                <span role="alert" class="requiredError" aria-hidden="true">
                    Please enter First Name
                  </span>
                <div class="password-field">
                    <label for="pass-field">
                        <p>
                            Password : 
                        </p>
                    </label>
                    <input id="pass-field" class="inputError" placeholder="Password" type="password" name="password">

                </div>
                <span role="alert" class="requiredError" aria-hidden="true">
                    Please enter Password
                  </span>

                  <% if (errors && errors.length> 0) { %>
                    <div class="error-message">
                      <% for (let i=0; i < errors.length; i++) { %>
                        <p class="error-text">
                          <%= errors[i].msg %>
                        </p>
                        <% } %>
                    </div>
                    <% } %>
                <div class="login-btn-field">
                    <input id="submitId" value="Login" type="submit" class="login-btn" onclick="validateForm(event)">
                </div><br>
                <div class="forgotpasswordlink">
                    <a href="/forgotpassword" data-toggle="modal" data-dismiss="modal"
                      class="close-modal pointer-class" data-modalid="forgotModal"> Forgot your password?</a>
                    <br /><br />
                  </div>
                <div class="register-field">
                    <a href="register">
                        <p>
                            New user? Register here
                        </p>
                    </a>
                </div>
            </div>
        </form>
    </div>
  </body>
<script>
// const submit1 = document.getElementById("submitId");
// submit1.addEventListener("click", validate);
function validateForm(e) {
    const form = document.getElementById('submitFormValidate')
    e.preventDefault();
    const userNameField = document.getElementsByClassName("inputError");
    let vaClass = true;
        for (var i = 0; i < userNameField.length; i++) {
            if (!userNameField[i].value) {
                vaClass = false;
                const showRequiredErr = document.getElementsByClassName("requiredError");
                console.log(showRequiredErr)
                showRequiredErr[i].classList.add("visible");
                userNameField[i].classList.add("invalid");
                showRequiredErr[i].setAttribute("aria-hidden", false);
                showRequiredErr[i].setAttribute("aria-invalid", true);
            }else{
                console.log('dfd')
                const showRequiredErr = document.getElementsByClassName("requiredError");
                showRequiredErr[i].classList.remove("visible");
                userNameField[i].classList.remove("invalid");
                showRequiredErr[i].setAttribute("aria-hidden", true);
                showRequiredErr[i].setAttribute("aria-invalid", false);

            }
        }
    if(vaClass){
        form.submit();
    }else{
        return false;
    }
}

</script>
  <%- include('layouts/footer'); -%>