<%- include('layouts/outerheader'); -%>

  <body>
    <div class="main-div"> 
        <div class="logo">

        </div>
       
        <form method="post" action="/login" class="login-form">
            <div class="login-box">
                <% if (errors && errors.length> 0) { %>
                    <div class="error-message">
                      <% for (let i=0; i < errors.length; i++) { %>
                        <p class="error-text">
                          <%= errors[i].msg %>
                        </p>
                        <% } %>
                    </div>
                    <% } %>
                <p class="title">Login</p>
                <div class="name-field">
                    <label for="user-field">
                        <p>
                            User Name : 
                        </p>
                    </label>
                    <input id="email" placeholder="Username" type="text" name="userName"
                    value="<%= typeof userName !== 'undefined' ? userName : '' %>">
                </div>
                <div class="password-field">
                    <label for="pass-field">
                        <p>
                            Password : 
                        </p>
                    </label>
                    <input id="pass-field" placeholder="Password" type="password" name="password">

                </div>
                <div class="forgotpasswordlink">
                    <a href="/forgotpassword" data-toggle="modal" data-dismiss="modal"
                      class="close-modal pointer-class" data-modalid="forgotModal"> Forgot your password?</a>
                    <br /><br />
                  </div>
                <div class="register-field">
                    <a href="register">
                        <p>
                            New user? Register here
                        </p>
                    </a>
                </div>
                <div class="login-btn-field">
                    <input type="submit" value="Login" class="login-btn">
                </div>
            </div>
        </form>
    </div>
  </body>

  <%- include('layouts/footer'); -%>