<%- include('layouts/outerheader'); -%>
<body>
    <br/>
    <div class="passwordresetsuccessmessage">
    <h3> You have successfully reset the password. <br/> Please click on <a href="/">Login Now</a> to Sign in with the new credentials</h3> <br/>
</div>
    </body>
    <%- include('layouts/footer'); -%>