<%- include('layouts/outerheader'); -%>

    <body>
        <br />
        <div class="registrationmessage">
            <h3> Your registration is complete. Please click on <a href="/">Login Now</a> to Sign in </h3> <br />
        </div>
    </body>
    <%- include('layouts/footer'); -%>