<%- include('layouts/innerheader'); -%>

    <body>
        <div class="container">
        <div class="menubar">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="inner.html">Upload Art</a>

                    </li>
                    <li>
                        <a href="/profile">My Profile</a>
                    </li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
        <br />
        <section class="image-container">
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="images/homeimg1.png" alt="Moving Image1">
                    <img id="slide-2" src="images/homeimg2.png" alt="Moving Image2">
                    <img id="slide-3" src="images/homeimg3.png" alt="Moving Image3">
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>

        </section>




        </div>
        <div class="welcomeMessage">
            <h3> “The object of art is not to reproduce reality, but to create a reality of the same intensity.” </h3>
            <br />

        </div>
    </div>
    </body>
    <%- include('layouts/footer'); -%>